
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: #F0EAD6;
    min-width: 100%;
}

main {
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.shop-title,
.about-title,
.faq-title,
.contact-title {
    text-decoration: underline;
}

/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 1vw;
    background-color: #F0EAD6;
  }

  ::-webkit-scrollbar-track {
    background-color: #F0EAD6;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    margin: 0px;
    padding: 0px;
    color: #fffef2;
    background-color: #4F3727;
    min-height: 7.5vh;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

@media (max-width: 767px) {
  #header {
    height: auto;
  }
}

.nav-link-container {

    max-width: 45vh;
    display: flex;
    justify-content: space-between;

}

.soc-link-container {
    max-width: 45vh;
    display: flex;
    margin-right: 1%;
}

.nav-link,
.soc-link {
    margin: 8px 4px;
    color: #F0EAD6;
    text-decoration: none;
}






@media (min-width: 768px) {
    .nav-btn {
        margin-left: 1vw;
        transition: transform 0.3s;
    }
    .nav-btn:hover {
        animation: bounce 0.3s infinite alternate;
}
}

@media(max-width: 767px) {
    .nav-btn {
        margin-left: 8px;
        transition: transform 0.3s;
    }
    .nav-btn:hover {
        animation: bounce 0.3s infinite alternate;
}
}

@media(max-width: 767px) {
    .nav-btn,
    .soc-btn {
        display: none;
    }
}


@media (min-width: 768px) {
    .soc-btn {
        margin-right: 1vw;
        transition: transform 0.3s;
    }
    .soc-btn:hover {
        animation: bounce 0.3s infinite alternate;
}
}

@media(max-width: 999px) {
    .soc-btn {
        margin-right: 8px;
        transition: transform 0.3s;
    }
    .soc-btn:hover {
        animation: bounce 0.3s infinite alternate;
    }
}


@media(min-width: 768px) {
    .nav-dropdown-btn,
    .soc-dropdown-btn {
        display: none;
    }
}

@media(max-width: 767px) {
    .nav-link-container {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding-left: 20px;
    }
    .nav-dropdown-btn {
        display: block;
    }
    .soc-link-container {
      height: 100%;
      width: 100px;
      display: flex;
      flex-direction: row;
      /* align-items: center; */
      justify-content: flex-end;
      padding-right: 10px;
  }
  .soc-dropdown-btn {
      display: block;
  }
  .nav-dropdown-btn,
  .soc-dropdown-btn:hover {
      cursor: pointer;
  }
}

.nav-dropdown-label,
.nav-dropdown-icon {
    color: #F0EAD6;
}

.nav-dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: transparent;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
  }

  .nav-dropdown-link-container {
    height: 198px;
    background-color:#F0EAD6;
    border:#4F3727;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
  }

  .nav-dropdown-link,
  .soc-dropdown-link {
    color: #4F3727;
    text-decoration: none;
    padding: 8px;
    transition: transform 0.3s;
  }

  .nav-dropdown-link.active {
    color: #F0EAD6;
    background-color: #4F3727;
  }

  .nav-dropdown-link,
  .soc-dropdown-link:hover {
    transition: scale(1.05);
    animation: bounce 0.3s infinite alternate;
  }


.soc-dropdown-label,
.soc-dropdown-icon {
    color: #F0EAD6;
}

.soc-dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: transparent;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
  }

  .soc-dropdown-link-container {
    height: 66px;
    background-color:#F0EAD6;
    border:#4F3727;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
  }

  .soc-dropdown-link {
    color: #4F3727;
    text-decoration: none;
    padding: 8px;
  }


/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
    z-index: 1;

}

.hero-container {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 50%;
    box-sizing: border-box; */
}

 .hero-logo {
    margin: 0 0 5vh 0 ;
    height: 20vh;
    width: 40vw;
    background: url("../img/PuddlesPotteryLogo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow-y: hidden;

}

@media (max-width: 767px) {
  .hero-logo {
    padding-bottom: 15%;
    min-height: 125px;
    min-width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.hero-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 8px 0 8px 0;
}

.hero-image {
    background: url("../img/PuddlesPotteryImg2.jpg") top no-repeat;
    background-size: cover;
    background-position: center 30%;
    position: relative;
    height: 60vh;
    width: 60vw;
    align-self: center;
    border-radius: 6px;
    overflow: hidden;
}

@media (max-width: 767px) {
  .hero-image {
    height: 60%;
    width: 80%;
    margin-bottom: 5vh;
  }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
    margin: 18px 0 36px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-container {
    width: 90%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px #272829;
    padding-bottom: 36px;
}

.about-content {
    width: 75vw;
    display: flex;
    justify-content: space-between;
}

.about-dropdowns {
  display: flex;
  flex-direction: column;
  margin: 32px;
  flex: 2;
  gap: 36px;
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
  flex: 1.25;
}

.about-image {
  margin: 32px;
  background: url("../img/LeighPuddlesPottery.jpg");
  background-size: cover;
  background-position: center 40%;
  border-radius: 6px;
  width: 216px;
  height: 330px;
}

@media (max-width: 767px) {
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about-story {
    border: 2px;

}

.about-story,
.about-creation-process {
    min-width: 70%;
    text-align: center;

}

.about-button {
    text-align: left;
    font-size: large;
}

@media (max-width: 767px) {
    .about-story,
    .about-creation-process {
        margin: 1vw 0 1vw 0;
    }
}


@media (min-width: 768px) {
    .about-button {
        width: fit-content;
        cursor: pointer;
        transition: transform 0.3s;
        transform-origin: left center;
      }

      .about-button:hover {
        transform: scale(1.05) !important;
        color:#4F3727;

      }

      @keyframes bounce {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.05);
        }
      }

      .about-button:not(:hover) {
        color: black;
      }
}


  @media (max-width: 767px) {
    .about-button {
        animation: none;
    }
}

.about-story-dropdown-content {
    text-align: left;
}

.creation-process-dropdown-link {
    color: royalblue;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

#gallery {
    margin: 18px 0 36px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px #272829;
    padding-bottom: 36px;
    max-height: 775px;
    overflow-y: scroll;
}

@media(max-width: 767px) {
  .gallery-container {
    overflow-x: hidden;
  }
}

.gallery-content {
  min-height: 50vh;
  min-width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 20px 10px 20px;
}

.gallery-content > div {
  display: flex;
  justify-content: flex-start;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 20px ;
  margin: 0;
}

.image-wrapper > div {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  pointer-events: none;
}

/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/

#shop {
    margin: 18px 0 36px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shop-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px #272829;
    padding-bottom: 36px;
}

.shop-stores-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-stores-container,
.local-stores-container,
.upcoming-markets-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 18px 0 18px 0;
}

.online-store-title,
.local-store-title,
.market-title {
    align-self: center;
}

.shop-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vh;
    padding: 8px;
}

@media(max-width: 767px) {
    .shop-card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: fit-content;
    }
    .online-store-card,
    .local-store-card,
    .market-card {
      margin-bottom: 20px !important;
    }
}

.online-store-card,
.local-store-card,
.market-card {
  margin: 0 16px 0 16px;
    height: 260px;
    width: 200px;
    /* min-width: 160px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-color:#4F3727;
    border-radius: 6px;
    box-shadow: 0 2px 8px #272829;
}

.online-store-card-title,
.local-store-card-title,
.market-card-title {
    margin: 4%;
    text-decoration: underline;
}

.online-store-card-image,
.local-store-card-image,
.market-card-image {
    flex: 0.85;
    width: 160px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
}

.balefire-goods-container,
.fern-and-skye-container {
    background: white;
}

.fern-and-skye-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balefire-goods-image {
    width: 100%;
    height: 100%;
    background: url("../img/BalefireLogoBW.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.tigerlily-container {
    background-color: #1b1c1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.etsy-image {
  width: 100%;
  height: 100%;
  background: url("../img/EtsyLogo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
}

.market-1-image {
  width: 100%;
  height: 100%;
  background: url("../img/NanDesuKanLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #4B7378;
}


/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/

#faq {
    margin: 18px 0 36px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px #272829;
    padding-bottom: 36px;
}

.faq-body {
    display: flex;
    width: 75vw;
    justify-content: space-between;
}

.faq-content {
    width: 55vw;
    display: flex;
    flex-direction: column;
    flex: 2;

}

.faq-dropdown-content {
    display: block;
    margin: 16px;
    flex: 2;
}

.faq-image {
    flex: 1.25;
    width: 300px;
    height: 310px;
    background: url("../img/PuddlesPotteryImg3.jpg") top right;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
    position: static;
}

@media (max-width: 767px) {
    .faq-image {
        display: none;
    }
}

.faq-element {
    width: 90%;
    margin: 8px 0 8px 0;
}

.faq-button {
    font-weight: bold;
}

.faq-dropdown-link {
    color: royalblue;
    text-decoration: none;
}

@media (min-width: 768px) {
    .faq-button {
        width: fit-content;
        cursor: pointer;
        transition: transform 0.3s ;
        transform-origin: left center;
      }

      .faq-button:hover {
        transform: scale(1.05);
        color:#4F3727;
        transition: transform 0.3s;
      }

      @keyframes bounce {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.05);
        }
      }

      .faq-button:not(:hover) {
        color: black;
      }
}


  @media (max-width: 767px) {
    .faq-button {
        animation: none;
    }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact {
    margin: 18px 0 36px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px #272829;
    padding-bottom: 36px;
}

.contact-content {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width: 767px) {
  .contact-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .contact-image,
  .contact-left-div {
    width: 100%;
    height: 260px;
  }

  .contact-right-div {
    margin-left: 12px;
    margin-right: 12px;
  }

  .contact-form-title {
    text-align: center;
  }

  .form-button-section {
    display: flex;
    justify-content: center;
  }
}

.contact-left-div {
  display: flex;
  justify-content: flex-start;
  min-width: 50%;
  min-height: 80%;
}

.contact-right-div {
  margin-right: 32px;
}

.contact-image {
  margin: 32px;
  background: url("../img/contactimage.jpg");
  background-size: cover;
  background-position: center 40%;
  border-radius: 6px;
  width: 100%;
  height: 90%;
}



.contact-info {
    padding-top: 16px;
    display: flex;
    flex-direction: column
}

.contact-info-card {
    margin: 8px 0 8px 0;
}

.contact-info-link {
    color: royalblue;
    text-decoration: none;
}

.form-container {
    width: 250px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hidden {
    display: none;
  }

  .form-section {
    margin: 0px 0px 12px 0px;
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 1px 3px #272829;
  }

  .form-submit-button {
    width: 50%;
    height: 25px;
    color:#F0EAD6;
    background-color: #4F3727;;
    border-radius: 4px;
    transition: transform 0.3s;
  }

  .form-submit-button:hover {
    color: #4F3727;
    background-color: #F0EAD6;
    transform: scale(1.05);
    animation-name: bounce;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-spacing-container {
    background-color: #4F3727;
    display: flex;
  }

  #footer {
    background: #4F3727;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    min-width: 100vw;
    overflow-x: visible;
  }

  #footer h3 {
    color:#F0EAD6;
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }

  #footer p {
    color:#F0EAD6;
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }

  #footer .social-link-container {
    display: flex;
    justify-content: center;
  }



  #footer .social-links {
    margin: 0 0 40px 0;
  }

  #footer .social-links a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0EAD6;
    color: #4F3727;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 53px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .right-div {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #007ba7;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 0px;
    border-radius: 50%;
    text-align: center;
    width: 43px;
    height: 28px;
    transition: 0.3s;
  }

  @media (min-width: 768px) {

    #footer .nav-link {
      width: 140%;
      height: 125%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #footer .bi-arrow-up-circle-fill {
      width: 70%;
      height: 70%;
      border-radius: 50%;
    }
  }

  @media (max-width: 767px) {
    #footer .right-div {
      position: fixed;

      width: 36px;
      height: 20px;
    }

    #footer .nav-link {
      width: 140%;
      height: 125%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #footer .bi-arrow-up-circle-fill {
      height: 90%;
      border-radius: 50%;
    }

  }

  #footer .social-links a:hover,
  #footer .right-div:hover {
    background: #007ba7;
    color:#F0EAD6;
    text-decoration: none;
    transform: scale(1.1);
    animation-name: bounce;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes bounce {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.05);
    }
  }
